<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.blogeurekaprovider.mapper.BlogDetailMapper">
    <select id="list" resultType="blogDetail">
        SELECT * FROM blog_detail Order BY createDate DESC
    </select>
</mapper>