<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.housestenancy.mapper.LoginerMapper">
    <select id="get" resultType="loginer">
        SELECT * FROM loginer WHERE loginerName=#{userName} and loginerPassword=#{password}
    </select>
    <update id="update">
        UPDATE loginer SET loginerRoleId=#{loginerRoleId} where loginerUserId=#{loginerUserId}
    </update>
</mapper>